<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="display: flex; flex-direction: column">
    {% for replay in replays %}
        <div style="border: dashed 1px black">
            <div style="display: flex">
                <span>Map: {{ replay.map }}</span>
            </div>
            <div style="display: flex">
                 <span>Scores: {{ replay.scores }}</span>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>